{% extends "base.html" %}
{% block nav %}	
        <ul>
            <li><a href="/">豆邮备份</a></li>
            <li class="dactive"><a href="/about/">关于</a></li>
        </ul>
{% endblock %}
{% block content %}
<div id="content">
		<div class="about">
		欢迎贡献代码<a href="https://github.com/irachex/douban-mail" target="_blank">Github</a><br/>
		UI参考石头的<a href="http://www.douban.com/group/topic/10150470/">Douban Pulse</a> <br/>
<br/>
---<br/><a href="http://www.douban.com/people/irachex/">irachex</a>
	    </div>
</div>
{% endblock %}
{% block header_title %}
关于
{% endblock %}
{% block header_menu %}
<a href="/">返回首页</a>
{% endblock %}