<!doctype html>
<html lang="zh-CN"> 
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>豆瓣备份</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	
	<div id="wapper"> 
		<div id="header">
			<h1>豆瓣备份</h1>
			<span class="header_menu">
				{% block header_menu %}
				<a href="/about/">关于</a>
				{% endblock %}
			</span>
		</div>
		<div id="main">
		<div id="left_nav">
			{% block nav %}	
                    <ul>
                        <li class="dactive"><a href="/">豆邮备份</a></li>
                        <li><a href="/about">关于</a></li>
                    </ul>
            {% endblock %}
        </div>
		
		{% block content %}
		{% endblock %}
		
        </div>
	</div>
	<a href="https://github.com/irachex/doumail-backup"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/abad93f42020b733148435e2cd92ce15c542d320/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub"></a>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-23536848-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>
</html>