<!doctype html>
<html lang="zh-CN"> 
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>豆瓣备份</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	
	<div id="wapper"> 
		<div id="header">
			<h1>豆瓣备份</h1>
			<span class="header_menu">
				{% block header_menu %}
				<a href="/about/">关于</a>
				{% endblock %}
			</span>
		</div>
		<div id="main">
		<div id="left_nav">
			{% block nav %}	
                    <ul>
                        <li class="dactive"><a href="/">豆邮备份</a></li>
                        <li><a href="/about">关于</a></li>
                    </ul>
            {% endblock %}
        </div>
		
		{% block content %}
		{% endblock %}
		
        </div>
	</div>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-23536848-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>
</html>